<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" />
    <meta name="render" content="webkit" />
    <title>填写资料</title>
<link href="http://ebs.cifswalletapp.com/loan/css/apply/fill_data_7e4fc2c8.css" rel="stylesheet"></head>

<body>
<div v-cloak id='wrap'>
    <div class="content">
        <hd text=""></hd>
        <div class="p-box">
            <!--<choose-location :pro_city_name="pro_city_name" :area_name="area_name" v-on:show="getLocationData" :locationcity="locationcity"></choose-location>-->
            <!--<choose-location v-if="!is_location_new" :pro_city_name="pro_city_name" :area_name="area_name" v-on:show="getLocationData" :locationcity="locationcity"></choose-location>-->
            <!--<choose-location-v v-else v-on:show="getLocationData_v2" :text="location_text"></choose-location-v>-->
            <choose-location-v @emit-show="getLocationData_v2" :text="location_text"></choose-location-v>
            <div class="mes">
                <div class="mes-tit">详细地址</div>
                <input class="mes-inp" placeholder="请输入地址" v-model="biz_content.permanent_adr_detailed">
            </div>
        </div>

        <hd text=""></hd>

        <div class="p-box">
            <picksingle tit="婚姻状况" fir="未婚" sec="已婚" v-on:statemethod="marrystatus"></picksingle>
            <picksingle tit="有无信用卡" fir="有" sec="无" v-on:statemethod="creditstatus"></picksingle>
            <div class="line-x"></div>
            <item mark-subject='教育程度' class="box-choose" ico-type="next" :submark-subject="education_degree_txt" v-on:click.native="pop('education_degree')"></item>
            <!-- $a$<item class="box-choose" mark-subject='与本人关系' ico-type="select" :submark-subject="relate_txt" v-on:click.native="pop"></item>-->
        </div>
        <hd text=""></hd>

        <div class="p-box">
            <div class="mes">
                <div class="mes-tit">联系人姓名</div>
                <input class="mes-inp" placeholder="请输入姓名" v-model="biz_content.relative_name">
            </div>
            <div class="line-x"></div>
            <div class="mes">
                <div class="mes-tit">联系人电话</div>
                <input class="mes-inp" placeholder="请输入电话" v-model="biz_content.relative_phone" type="tel" maxlength="11">
            </div>
            <div class="line-x"></div>
            <div class="mes">
                <div class="mes-tit">电子邮箱</div>
                <input class="mes-inp" placeholder="请输入电子邮箱" v-model="biz_content.email" type="email">
            </div>
            <div class="line-x"></div>
        </div>

    </div>
    <poplist v-on:impress="pop_impress" :show="pop_show" :list="pop_list" :selectindex="selectindex"></poplist>
    <foot-btn v-on:next="next" btn-txt='提交' :is-on='btn_status'></foot-btn>
</div>
<script type="text/javascript" src="http://ebs.cifswalletapp.com/loan/js/lib_bac4ba61.js"></script><script type="text/javascript" src="http://ebs.cifswalletapp.com/loan/js/apply/fill_data_698a6da6.js"></script></body>
</html>
