<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no"/>
    <meta name="render" content="webkit"/>
    <title>身份认证</title>
<link href="http://10.6.9.244:8056/loan/css/apply/identity_authentication_c3c94b41.css" rel="stylesheet"></head>

<body>
<div v-cloak id='wrap'>

    <div class="photo-item-wrapper">
        <div class="item-photo">
            <div class="item-photo-title">身份证人像面</div>
            <div class="photo-take-item" @click='takePhoto({"type": 0})' v-if="!idCard.hasIdCard">
                <div class="photo-take-img-wrapper">
                    <img :src="img.img_idcard_icon">
                </div>
                <div class="photo-take-text-wrapper">
                    <span>点击拍摄</span>
                </div>
            </div>
            <div class="photo-take-item" @click='takePhoto({"type": 0})' v-else>
                <div class="text-recapture"></div>
                <img class="bg-img" :src="idCard.data.img_idcard_display">
                <div class="photo-take-img-wrapper top">
                    <img :src="img.img_idcard_icon">
                </div>
                <div class="photo-take-text-wrapper top">
                    <span class="color-white">点击重拍</span>
                </div>
                <img class="img-after-capture top" :src="img.img_after_capture">
            </div>
        </div>
        <div class="item-photo">
            <div class="item-photo-title">身份证国徽面</div>
            <div class="photo-take-item" @click='takePhoto({"type": 1})' v-if="!idCard.hasIdCardBack">
                <div class="photo-take-img-wrapper">
                    <img :src="img.img_idcard_back_icon">
                </div>
                <div class="photo-take-text-wrapper">
                    <span>点击拍摄</span>
                </div>
            </div>
            <div class="photo-take-item" @click='takePhoto({"type": 1})' v-else>
                <div class="text-recapture"></div>
                <img class="bg-img" :src="idCard.data.img_idcard_back_display">
                <div class="photo-take-img-wrapper top">
                    <img :src="img.img_idcard_back_icon">
                </div>
                <div class="photo-take-text-wrapper top">
                    <span class="color-white">点击重拍</span>
                </div>
                <img class="img-after-capture top" :src="img.img_after_capture">

            </div>
        </div>
    </div>

    <div class="info-item-wrapper">
        <div class="input-item-wrapper">
            <div class="idcard-info-tag">姓名:</div>
            <div class="idcard-info-name-wrapper">
                <input v-model="idCard.data.name" placeholder="请输入真实姓名" class="idcard-info-detail" @blur="checkName"/>
            </div>
        </div>
        <div class="input-item-wrapper">
            <div class="idcard-info-tag">住址:</div>
            <div class="idcard-info-name-wrapper">
                <input v-model="idCard.data.address" placeholder="请输入地址" class="idcard-info-detail"
                       @blur="checkAddress"/>
            </div>
        </div>
        <div class="input-item-wrapper">
            <div class="idcard-info-tag" style="margin-top: 3px">身份证号:</div>
            <div class="idcard-info-name-wrapper">
                <input id="idCardNum" class="idcard-info-detail" v-model="idCard.data.idCardNum"
                       @blur="checkIdCardNum" placeholder="请输入身份证号"/>
            </div>
        </div>
        <div class="input-item-wrapper">
            <div class="idcard-info-tag">签发机关:</div>
            <div class="idcard-info-name-wrapper">
                <input v-model="idCard.data.issuingAuthority" placeholder="请输入签发机关" class="idcard-info-detail"
                       @blur="checkIssuingAuthority"/>
            </div>
        </div>
        <div class="input-item-wrapper">
            <div class="idcard-info-tag">有效期限:</div>
            <div class="idcard-info-name-wrapper">
                <input v-model="idCard.data.validityDateBegin" class="idcard-info-detail input-date"
                       placeholder="起始日期" @click.stop="getDateBegin" readonly/>
                <div class="vue-item-ico__select"></div>
                <span style="margin-left: 5px;">至</span>
                <input v-model="idCard.data.validityDateEnd" class="idcard-info-detail input-date"
                       placeholder="结束日期" @click.stop="getDateEnd" readonly/>
                <div class="vue-item-ico__select"></div>
            </div>
        </div>
    </div>

    <foot-btn v-on:click.native="next" btn-txt='下一步' :is-on='isValidate'></foot-btn>
</div>
<script type="text/javascript" src="http://10.6.9.244:8056/loan/js/lib_4409bd10.js"></script><script type="text/javascript" src="http://10.6.9.244:8056/loan/js/apply/identity_authentication_ef4eabb0.js"></script></body>
</html>
